nav li {
    float: left;
}

section {
 display: flex;
}

aside {
 flex: 1
}

article {
 flex: 4
}

nav ul {
    list-style-type: none;
    margin: 5;
	padding: 35;
} 

nav li a {
    disp
    lay: block;
    background-color: #555;
	list-style-type: none;
	padding-right: 2cm;
}


nav li {
    text-align: center;
    border-bottom: 1px solid #555;
	display: inline;
}

.active {
    border-bottom: none;
	background-color: pink !important; 
    color: white !important;
}

nav li a:hover {
    background-color: #4CAF50;
	color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.c11 {
  grid-column: 1;
  grid-row: 1;
}
.c12 { 
  grid-column: 2;
  grid-row: 1;
}
.c13 {
  grid-column: 3;
  grid-row: 1;
}
.c21 {
  grid-column: 1;
  grid-row: 2;
}
.c22 {
  grid-column: 2;
  grid-row: 2;
}
.c23 {
  grid-column: 3;
  grid-row: 2;
}
.c31 {
  grid-column: 1;
  grid-row: 3;
}
.c32 {
  grid-column: 2;
  grid-row: 3;
}
.c33 {
  grid-column: 3;
  grid-row: 3;
}

